In [11]:
import pandas as pd

# create a sample dataframe
df = pd.DataFrame({'date': ['Jan-70', 'Feb-69', 'Mar-68', 'Apr-67', 'May-66', 'Jun-65', 'Jul-64', 'Aug-63', 'Sep-62', 'Oct-61', 'Nov-60', 'Dec-59' ]})

# convert 'date' column to datetime type
#df['date'] = pd.to_datetime(df['date'])

In [6]:
from datetime import datetime

date_series = ['Mar-68', 'May-63', 'Jun-64']

def convert_date(date_str):
    date_obj = datetime.strptime(date_str, '%b-%y')
    year = date_obj.year
    if year > 2014:
        year -= 100
#     else:
#         year += 1900
    return date_obj.replace(year=year, day=1).strftime('%Y-%m-%d')

new_date_series = [convert_date(date_str) for date_str in date_series]

print(new_date_series)

['1968-03-01', '1963-05-01', '1964-06-01']

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    12 non-null     object
dtypes: object(1)
memory usage: 224.0+ bytes

In [13]:
df['dd'] = df['date'].apply(convert_date)

In [14]:
df

      date          dd
0   Jan-70  1970-01-01
1   Feb-69  1969-02-01
2   Mar-68  1968-03-01
3   Apr-67  1967-04-01
4   May-66  1966-05-01
5   Jun-65  1965-06-01
6   Jul-64  1964-07-01
7   Aug-63  1963-08-01
8   Sep-62  1962-09-01
9   Oct-61  1961-10-01
10  Nov-60  1960-11-01
11  Dec-59  1959-12-01

In [15]:
def convert_date2(date_str):
    date_obj = pd.to_datetime(date_str, format='%b-%y')
    year = date_obj.year
    if year > 2014:
        year -= 100
    return date_obj

In [16]:
df['da'] = df['date'].apply(convert_date2)

In [17]:
df

      date          dd         da
0   Jan-70  1970-01-01 1970-01-01
1   Feb-69  1969-02-01 1969-02-01
2   Mar-68  1968-03-01 2068-03-01
3   Apr-67  1967-04-01 2067-04-01
4   May-66  1966-05-01 2066-05-01
5   Jun-65  1965-06-01 2065-06-01
6   Jul-64  1964-07-01 2064-07-01
7   Aug-63  1963-08-01 2063-08-01
8   Sep-62  1962-09-01 2062-09-01
9   Oct-61  1961-10-01 2061-10-01
10  Nov-60  1960-11-01 2060-11-01
11  Dec-59  1959-12-01 2059-12-01